<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="105"
    android:versionName="3.34"
    android:compileSdkVersion="37"
    android:compileSdkVersionCodename="17"
    package="com.abel.hyperosglass"
    platformBuildVersionCode="37"
    platformBuildVersionName="17">
    <uses-sdk
        android:minSdkVersion="33"
        android:targetSdkVersion="34"/>
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:roundIcon="@mipmap/ic_launcher">
        <activity
            android:label="@string/app_name"
            android:name="com.abel.hyperosglass.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.abel.hyperosglass.StatusProvider"
            android:exported="true"
            android:authorities="com.abel.hyperosglass.status"
            android:directBootAware="true"/>
        <provider
            android:name="com.abel.hyperosglass.LogFileProvider"
            android:exported="false"
            android:authorities="com.abel.hyperosglass.fileprovider"
            android:grantUriPermissions="true"/>
    </application>
</manifest>
